/* Substitua seu CSS existente por este código */

body {
    background: linear-gradient(45deg, #26609e, #4b81b4);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

header {
    background-color: #134074;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
}

.btn-inicio {
    background-color: #4b81b4;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-inicio:hover {
    background-color: #1d8fa6;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section.hero {
    display: flex;
}

.hero-image {
    width: 50%;
    object-fit: cover;
}

.text-container {
    max-width: 50%;
    padding: 20px;
}

.additional-text,
.features,
.testimonials {
    background-color: #134074;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    text-align: left;
    font-size: 15px;
    margin: 20px 0;
    color: #fff;
    width: 850px;
    height: 400px;
}

.additional-text h2,
.features h2,
.testimonials h2 {
    font-size: 3em;
}

.additional-text p,
.features p,
.testimonials p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    margin-bottom: 8px;
}

.testimonial {
    margin-bottom: 20px;
}

.testimonial p {
    margin-bottom: 8px;
}

.testimonial .author {
    font-style: italic;
    color: #9cb5c3;
}

.footer {
    background-color: #134074;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.social-icons {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #134074;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.social-icons a {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
}

.social-icons a:hover {
    color: #1d8fa6;
}

/* Estilos adicionais para outras seções permanecem os mesmos */
